<app-toast-container></app-toast-container>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="" routerLinkActive="active"
        >Acceuil</a
      >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="isLoggedIn$ | async; else loginBlock">
          <li class="nav-item">
            <button class="nav-link" (click)="logout()">Deconnecter</button>
          </li>
        </ng-container>
        <ng-template #loginBlock>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/auth/login"
              routerLinkActive="active"
              >Se connecter</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/auth/register"
              routerLinkActive="active"
              >S'inscrire</a
            >
          </li>
        </ng-template>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
