<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <ng-container *ngFor="let toast of toastService.toasts">
      <!-- Apply dynamic classes based on the toast's options -->
      <div
        class="toast show"
        [ngClass]="toast.className"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">Notification</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
            (click)="toastService.remove(toast)"
          ></button>
        </div>
        <div class="toast-body">
          {{ toast.text }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
